<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <style>
        body{
            font-size: 24px;
            font-family: 'Garamond Premier Pro';
            color: #121212;
        }
        .infomation{
            width: 100%;
            height: 20px;
            padding: 8px 0;
            margin: 8px 0;
        }
        .infomation__detail{
        }
        .infomation__detail-text{
            display: inline-block;
            min-width: 190px;
            font-weight: 600;
        }
        .total{
            font-size: 30px;
            margin-left: 2px;
        }
        .total__number{
            display: inline-block;
            min-width: 400px;
            font-weight: 600;
        }
        li{
            list-style: list-none;
        }
        table{
            width: 50%;
            margin: 24px 0 24px;
        }
        table thead tr th{
            border-bottom: 2px solid #000000;
        }
        table thead tr, table tbody tr{
            text-align: left;
        }

    </style>
</head>

<body>
    <div>
        <div class="infomation">
            <div class="infomation__detail">
                <span class="infomation__detail-text">Tên khách hàng: </span>
                {{kh_hoten}}
            </div>
        </div>
        <div class="infomation">
            <div class="infomation__detail">
                <span class="infomation__detail-text">Địa chỉ: </span>
                {{dh_diachigh}}
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Màu sắc</th>
                <th>Dung lượng</th>
                <th>Đơn giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each detailOrders}}
            <tr>
                <td>{{sp_hoten}}</td>
                <td>{{ctdh_soluong}}</td>
                <td>{{ctdh_mausac}}</td>
                <td>{{ctdh_dungluong}}</td>
                <td>{{ctdh_dongia}}</td>
            </tr>
            {{/each }}
        </tbody>
    </table>
    <div class="total">
        <span class="total__number">Tổng tiền: </span>{{dh_thanhtien}}
    </div>
</body>
</html>
